/* "Ubuntu", sans-serif;
    url(images/codebg.jpeg);
    "Roboto", sans-serif;
    */

* {
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-image: url(images/codebg.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: black;
  margin-bottom: 15px;
}

.logo {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  margin-right: 40px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 10px;

  font-family: "Ubuntu", sans-serif;
}

header nav ul li a:hover {
  color: #89ce94;
}

main ul {
  list-style-type: none;
  text-align: center;
  margin-right: 40px;
}

main ul li a {
  color: #fff;
  text-decoration: none;
}

main ul li a:hover {
  color: #89ce94;
}

main a:link {
  color: #fff;
}
main a:visited {
  color: #015475;
}
main a:hover {
  color: #89ce94;
}
main a:active {
  color: #47adc9;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 2rem;
  padding-bottom: 10px;
}

.black-box {
  /*created a class to make text more readable against the background*/
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0 20px 0;
}

footer {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  min-height: 100vh;
  margin-top: 50px;
}

footer p {
  text-align: center;
}

main img {
  width: 100%;
  border: 2px solid white;
}

p {
  text-align: justify;
  margin: 10px;
  padding: 5px;
}

.center-text {
  margin: 10px;
  text-align: center;
}

.links-style {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.links-style a {
  border: 1px solid white;
  padding: 8px;
}

.link-style li {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border: 2px solid white;
  background-color: #47adc9;
  transition: 1s;
}

.link-style li:hover {
  background-color: black;
}

.btn-style {
  background-color: #47adc9;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5%;
  color: #fff;
  align-items: center;
  transition: 1s;
}

.btn-style:hover {
  background-color: black;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  #intro-text p {
    font-size: 24px;
  }

  .logo {
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 64px;
  }

  header nav {
    margin-top: 14px;
    font-size: 20px;
  }

  header nav ul {
    margin-top: 25px;
    font-size: 30px;
  }

  header nav ul li a {
    padding: 50px;
  }

  main img {
    margin-top: 30px;
    border: 2px solid white;
  }

  .link-style li {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border: 2px solid white;
    background-color: #47adc9;
    transition: 1s;
  }

  .link-style li:hover {
    background-color: black;
  }

  p {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 2em;
  }

  h1 {
    font-size: 50px;
  }

  .group {
    flex-direction: row;
  }
  main ul {
    font-size: 30px;
  }
}
